* a{
	color:blue;
}
.encabezado{
	width: 100%;
	background-color: #333333;
	padding: 30px;
}
nav ul {
	list-style: none;
	text-align: right;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 13px;
}
a:hover{
	background-color: grey;
}
#menu{
	margin-right: 30px;
	margin-top: 30px;
}
.episode >img{
	width: 80px;
}
.row .cuadricula{
	padding-left: 0px;
}
.fondoep{
	background-color: #EEEEEE;
}
.lastep{
	margin-left: 150px;
	padding: 20px;
}
.lastep strong{
	font-size: 20px;
}
.listep{
	text-align: center;
}
.listep a{
	text-decoration: none;
}
.imgep > img{
	max-width: 100%;
}
.cont{
	width: 70%
	margin: auto;
}
.imgcateg > img{
	max-width: 100%;
}
hr{
	margin-bottom: 10px;
}
.lista-costado{
	display: inline-block;
}
.lista-costado a{
	text-decoration: none;
}
aside{
	padding: 30px;
}
footer{
	clear: both;
	background-color: #585858;
	color: white
}
footer ul li{
	list-style: none;
	display: inline-block;
	margin: auto;

}
footer div{
	padding-bottom: 20px;
}
.texto-footer{
	margin: 0 auto;
	text-align: center;
}
.copyright{
	text-align: center;
}
.footerlinks{
	text-align: center;
}
footer a{
	color: grey !important;
}
